html {
    position: relative;
    min-height: 100%;
    height: 100%;
}

body.snap {
    min-height: 100%;
    height: 100%;
    font-family: Arial, sans-serif, "Helvetica Neue", Helvetica;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #f1f2f6;
}

body > .container {
    padding: 100px 15px 60px;
    min-height: 100%;
}
.container.app {
    padding-top: 140px;
    padding-bottom: 20px;
}

.clear-right {
    clear: right;
}

.no-margin {
    margin: 0;
}

.full-width {
    width: 100%;
}

.text-xxlarge {
    font-size: 80px;
    line-height: 2;
}

.loading {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background-color: rgba(230,232,235,.9);
    padding-top: 200px;
}

.spin {
    -webkit-transform-origin: 50% 50%;
    transform-origin:50% 50%;
    -ms-transform-origin:50% 50%; /* IE 9 */
    -webkit-animation: spin .9s infinite linear;
    -moz-animation: spin .9s infinite linear;
    -o-animation: spin .9s infinite linear;
    animation: spin .9s infinite linear;
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.dropdown-menu. li{
    cursor: pointer;
}

.vertical-align {
    display: flex;
    align-items: center;
}

.modal-header[class^='bg-'],
.modal-header[class*=' bg-']{
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}
.modal-footer.bg-*{
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
}

ul.dropdown-menu a,
.pagination a
{
    cursor: pointer;
}

.spinner-container {
    font-size: xx-large;
    padding: 40px;
}

.noitems-container {
    padding: 40px;
}

input.ng-invalid-email{
    border: 1px solid #A30000;
    box-shadow: 0 0 2px #A30000;
}

.st-selected {
    background-color: #d9edf7;
}

/* tag filter */

.tag-input {
    margin-bottom: 0.4em;
}

.row-tags {
    text-align: right;
    padding: 0 6px;
}

.tags {
    display: inline-block;
}

.tags .tag {
    margin-right: 0.4em;
    margin-bottom: 0.4em;
    font-size: 14px;
    float: left;
}
.tags .tag[ng-click]:hover {
    text-decoration: none;
    cursor: pointer;
    color: #FFFFFF;
}
.tags .tag .glyphicon-remove {
    font-size: 9px;
    margin-right: -1.8em;
    margin-top: -1em;
    opacity: 0;
    background-color: #FFFFFF;
    padding: 2px;
    border-radius: 9px;
    border: 1px solid #CCCCCC;
    color: #FF0000;
}

.tags .tag:hover .glyphicon-remove {
    opacity: 1;
}

.tags .tag span {
    display: block;
    float: right;
}

.tag-value {
    font-size: 14px;
}

/* flex */

.flex-container {
    display: -webkit-flex;
    display: flex;
}

.flex-center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.flex-1 {
    -webkit-flex: 1 0 0;
    flex: 1 0 0;
}
.flex-2 {
    -webkit-flex: 2 0 0;
    flex: 2 0 0;
}
.flex-3 {
    -webkit-flex: 3 0 0;
    flex: 3 0 0;
}
.flex-4 {
    -webkit-flex: 4 0 0;
    flex: 4 0 0;
}

.flex-5 {
    -webkit-flex: 5 0 0;
    flex: 5 0 0;
}
.flex-10 {
    -webkit-flex: 10 0 0;
    flex: 10 0 0;
}
.flex-100 {
    -webkit-flex: 100 0 0;
    flex: 100 0 0;
}

/* end of flex */


div.data-container {

}

div.data-container > div {
    min-height: 80px;
    padding: 6px;
}


/* HEADER */

/* header-top */

.header-top {
    background-color: #666666;
}

.header-top .navbar-brand {
    height: 40px;
    background: url("../img/logo-sungard.svg") no-repeat;
    background-size: 30px 30px;
    background-position: left center;
    color: white;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    padding: 10px 15px 0 35px;
    margin-top: 5px;
}

.header-top .navbar-brand:hover {
    color:white;
}

.header-top .navbar-brand span.separator {
    color: #cc2130;
    padding: 0 1px;
}

.header-top .navbar-brand span.separator:after {
    content: '|';
}


.header-top .nav {
    padding: 10px 0 5px 0;
}

.header-top .nav > li > a {
    padding: 3px 15px;
    font-weight: 400;
    color: white;
}

.header-top .nav > li > a:hover,
.header-top .nav > li > a:focus {
    background-color: #333333;
}

.header-top .nav-pills > li.active > a,
.header-top .nav-pills > li.active > a:hover,
.header-top .nav-pills > li.active > a:focus {
    background-color: #009f65;
}
/* end of header-top */


/* header-page */

.header-page {
    background-color: white;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 45px;
}

.header-page,
.header-page a {
    color: #263f66;
}

.header-page a:hover,
.header-page a:focus {
    color: #172e52;
    text-decoration: none;
}

.header-page .page-name .go-back a {
    font-size: 12px;
    font-weight: bold;
}

.header-page .page-name .current {
    font-size: 18px;
    font-weight: bold;
}


.header-page .sub-nav .user a {
    font-size: 12px;
    font-weight: bold;
}

.header-page .sub-nav {
    text-align: right;
}

.header-page .sub-nav .page-btns {
    font-size: 16px;
    font-weight: bold;
}

.header-page .sub-nav .page-btns span.separator {
    color: #666666;
    padding: 0 5px;
}

.header-page .sub-nav .page-btns span.separator:after {
    content: '|';
}

/* end of header-page */

/* end of HEADER */




/* page table */

/* THEAD */

div.page-table div.thead {
    position: fixed;
    top: 90px;
    height: 35px;
}

div.table-header-placeholder {
    position: fixed;
    right: 0;
    left: 0;
    top: 90px;
    z-index: 1030;
    height: 34px;
    background-color: #f1f2f6;
    box-shadow: rgba(0, 0, 0, 0.2) 0 7px 10px;
}

div.thead {
    font-weight: bold;
    z-index: 1040;
}

div.thead div.th {
    padding: 6px;
    background-color: #f1f2f6;
}

div.thead div.th:hover {
    background-color: #dbdbdb;
}

div.thead div.th,
div.thead div.th:hover,
div.thead div.th a,
div.thead div.th a:hover {
    color: #263f66;
    text-decoration: none;
}

div.thead div.th span,
div.thead div.th a {
    height: 22px;
    line-height: 22px;
    cursor: pointer;
}

.st-sort-ascent:after{
    content: '\00A0\2227';
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    height: 24px;
}

.st-sort-descent:after{
    content: '\00A0\2228';
    vertical-align: middle;
    display: inline-block;
    line-height: normal;
    height: 24px;
}

/* end of THEAD */


/* TRs */

div.tr {
    position: relative;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.3) 0 2px 10px -5px;
    overflow: hidden;
}


div.tr.row-disabled {
    background-color: #dbdbdb;
    color: #7d7d7d;
}

div.tr.schedule-enabled {
    background-color: #ffffff !important;
    color: #7d7d7d;
}

div.tr:hover {
    box-shadow: rgba(0, 0, 0, 0.3) 0 7px 10px -5px;
}

div.tr:hover div.row-hover {
    opacity: 1;
}

div.tr div.row-hover {
    transition: .2s linear all;
    opacity: 0;
    width: 40%;
    min-width: 450px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #263f66;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}

div.tr div.row-hover a {
    color: white;
    font-weight: bold;
}

div.tr div.row-hover a:hover,
div.tr div.row-hover a:focus {
    color: #009f65;
    text-decoration: none;
}

div.tr div.row-hover .icon {
    font-size: 18px;
    padding-right: 3px;
}

div.tr div.row-hover .data-container {
    height: 100%;
}


div.tr.state-in-use {
    border-left: 3px solid #009f65;
}

div.tr.state-available {
    border-left: 3px solid #263f66;
}

div.tr.state-removed {
    border-left: none;
}

/* end of TRs */

/* end of page table */


/* CARDS */

.snap .card {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: rgba(0,0,0,0.3) 5px 5px 10px -5px;
    margin-bottom: 5px;
    position: relative;
}

.snap .card.with-hover {
    transition: .2s linear all;
    box-shadow: rgba(0,0,0,0.3) 0 0 10px -5px;
}

.snap .card.with-hover:hover {
    box-shadow: rgba(0,0,0,0.3) 5px 5px 10px -5px;
}


.snap .card .show-on-hover {
    transition: .2s linear all;
    -webkit-transition: .2s linear all;
    opacity: 0;
    visibility: hidden;
}

.snap .card:hover .show-on-hover {
    opacity: 1;
    visibility: visible;
}

.snap .card .icon {
    font-size: xx-large;
}

.snap .card .card-content {
    padding: 15px 0;
}

.snap .card .card-content .label {
    font-size: 14px;
}

.snap .card .card-content p {
    color: #7d7d7d;
    margin: 0;
}

.snap .card .card-content p.muted {
    opacity: 0.5;
}

.snap .card .card-content p .highlight {
    color: #263f66;
    padding: 0 6px;
}

.snap .card .card-content h3 {
    margin: 0;
}

/* card statuses */

.snap .card.status-waiting > div,
.snap .card.status-queued > div,
.snap .card.status-running > div,
.snap .card.status-canceled > div,
.snap .card.status-complete_with_warning > div,
.snap .card.status-error > div {
    background-color: rgba(255,255,255,.6);
    border-radius: 4px;
    position: relative;
}

.snap .card > div.task-progress {
    position: absolute !important;
    top: 0;
    bottom: 0;
    right: 0;
}


.snap .card.status-waiting {
    /* background-color: #7d7d7d; */
}

.snap .card.status-complete {
    background-color: #dddddd;
}

.snap .card.status-queued {
    background-color: #febe11;
}

.snap .card.status-running {
    background-color: #009f65;
}

.snap .card.status-complete_with_warning {
    background-color: darkgreen;
}

.snap .card.status-error {
    background-color: #e62e00;
}

.snap .card.status-canceled {
    background-color: #99e6ff;
}

/* end of card statuses */

/* end of CARDS */



/* Checkbox */

.chb {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: transparent;

    width: 22px;
    height: 22px;
    font-size: 12px;
    padding: 4px;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
    cursor: pointer;
}

.chb:before {
    content: "\e013";
}
.chb.config:before {
    content: no-close-quote;
}

.config.chb-text{
    position: relative;
    bottom: 4px;
}

.chb:hover {
    border-color: #7d7d7d;
}

.chb.checked {
    background-color: #009f65;
    color: white;
    border: none;
}

.chb.checked:hover {
    background-color: #007b4e;
}

/* end of Checkbox */









/* Color scheme */

/* label */

.snap .label-danger {
    background-color: #cc2130;
}

.snap .label-success {
    background-color: #009f65;
}

.snap .label-warning {
    background-color: #febe11;
}

.snap .label-primary {
    background-color: #263f66;
}

.snap .label-default {
    background-color: #7d7d7d;
}

/* end of label */


/* text */

.snap .text-danger {
    color: #cc2130;
}

.snap .text-success {
    color: #009f65;
}

.snap .text-warning {
    color: #febe11;
}

.snap .text-primary {
    color: #263f66;
}

.snap .text-default {
    color: #7d7d7d;
}

/* end of text */

/* bg */

.snap .bg-danger {
    color: #ffffff;
    background-color: #cc2130;
}

.snap .bg-success {
    color: #ffffff;
    background-color: #009f65;
}

.snap .bg-warning {
    color: #ffffff;
    background-color: #febe11;
}

.snap .bg-primary {
    color: #ffffff;
    background-color: #263f66;
}

.snap .bg-default {
    color: #ffffff;
    background-color: #7d7d7d;
}

/* end of bg */


/* links (custom) */

.snap .lnk-danger,
.snap .lnk-success,
.snap .lnk-warning,
.snap .lnk-primary,
.snap .lnk-default {
    color: #263f66;
    cursor: pointer;
}

.snap .lnk-danger:hover,
.snap .lnk-danger:focus {
    color: #cc2130;
}

.snap .lnk-success:hover,
.snap .lnk-success:focus {
    color: #009f65;
}

.snap .lnk-warning:hover,
.snap .lnk-warning:focus {
    color: #ffffff;
    background-color: #febe11;
}

.snap .lnk-primary:hover,
.snap .lnk-primary:focus {
    color: #ffffff;
    background-color: #263f66;
}

.snap .lnk-default:hover,
.snap .lnk-default:focus {
    color: #ffffff;
    background-color: #7d7d7d;
}

/* end of links (custom) */


/* buttons */

/* btn-primary */

.snap .btn-primary.disabled,
.snap .btn-primary[disabled],
.snap fieldset[disabled] .btn-primary,
.snap .btn-primary.disabled:hover,
.snap .btn-primary[disabled]:hover,
.snap fieldset[disabled] .btn-primary:hover,
.snap .btn-primary.disabled:focus,
.snap .btn-primary[disabled]:focus,
.snap fieldset[disabled] .btn-primary:focus,
.snap .btn-primary.disabled.focus,
.snap .btn-primary[disabled].focus,
.snap fieldset[disabled] .btn-primary.focus,
.snap .btn-primary.disabled:active,
.snap .btn-primary[disabled]:active,
.snap fieldset[disabled] .btn-primary:active,
.snap .btn-primary.disabled.active,
.snap .btn-primary[disabled].active,
.snap fieldset[disabled] .btn-primary.active {
    background-color: #263f66;
    border-color: #263f66;
}

.snap .btn-primary {
    color: #fff;
    background-color: #263f66;
    border-color: #263f66;
}

.snap .btn-primary:hover {
    color: #fff;
    background-color: #172e52;
    border-color: #172e52;
}

/* btn-success */

.snap .btn-success.disabled,
.snap .btn-success[disabled],
.snap fieldset[disabled] .btn-success,
.snap .btn-success.disabled:hover,
.snap .btn-success[disabled]:hover,
.snap fieldset[disabled] .btn-success:hover,
.snap .btn-success.disabled:focus,
.snap .btn-success[disabled]:focus,
.snap fieldset[disabled] .btn-success:focus,
.snap .btn-success.disabled.focus,
.snap .btn-success[disabled].focus,
.snap fieldset[disabled] .btn-success.focus,
.snap .btn-success.disabled:active,
.snap .btn-success[disabled]:active,
.snap fieldset[disabled] .btn-success:active,
.snap .btn-success.disabled.active,
.snap .btn-success[disabled].active,
.snap fieldset[disabled] .btn-success.active {
    background-color: #009f65;
    border-color: #009f65;
}

.snap .btn-success {
    color: #fff;
    background-color: #009f65;
    border-color: #009f65;
}

.snap .btn-success:hover {
    color: #fff;
    background-color: #007b4e;
    border-color: #007b4e;
}

/* btn-danger */

.snap .btn-danger.disabled,
.snap .btn-danger[disabled],
.snap fieldset[disabled] .btn-danger,
.snap .btn-danger.disabled:hover,
.snap .btn-danger[disabled]:hover,
.snap fieldset[disabled] .btn-danger:hover,
.snap .btn-danger.disabled:focus,
.snap .btn-danger[disabled]:focus,
.snap fieldset[disabled] .btn-danger:focus,
.snap .btn-danger.disabled.focus,
.snap .btn-danger[disabled].focus,
.snap fieldset[disabled] .btn-danger.focus,
.snap .btn-danger.disabled:active,
.snap .btn-danger[disabled]:active,
.snap fieldset[disabled] .btn-danger:active,
.snap .btn-danger.disabled.active,
.snap .btn-danger[disabled].active,
.snap fieldset[disabled] .btn-danger.active {
    background-color: #cc2130;
    border-color: #cc2130;
}

.snap .btn-danger {
    color: #fff;
    background-color: #cc2130;
    border-color: #cc2130;
}

.snap .btn-danger:hover {
    color: #fff;
    background-color: #89161e;
    border-color: #89161e;
}

/* btn-warning */

.snap .btn-warning.disabled,
.snap .btn-warning[disabled],
.snap fieldset[disabled] .btn-warning,
.snap .btn-warning.disabled:hover,
.snap .btn-warning[disabled]:hover,
.snap fieldset[disabled] .btn-warning:hover,
.snap .btn-warning.disabled:focus,
.snap .btn-warning[disabled]:focus,
.snap fieldset[disabled] .btn-warning:focus,
.snap .btn-warning.disabled.focus,
.snap .btn-warning[disabled].focus,
.snap fieldset[disabled] .btn-warning.focus,
.snap .btn-warning.disabled:active,
.snap .btn-warning[disabled]:active,
.snap fieldset[disabled] .btn-warning:active,
.snap .btn-warning.disabled.active,
.snap .btn-warning[disabled].active,
.snap fieldset[disabled] .btn-warning.active {
    background-color: #febe11;
    border-color: #febe11;
}

.snap .btn-warning {
    color: #fff;
    background-color: #febe11;
    border-color: #febe11;
}

.snap .btn-warning:hover {
    color: #fff;
    background-color: #dea202;
    border-color: #dea202;
}

/* btn-default */

.snap .btn-default.disabled,
.snap .btn-default[disabled],
.snap fieldset[disabled] .btn-default,
.snap .btn-default.disabled:hover,
.snap .btn-default[disabled]:hover,
.snap fieldset[disabled] .btn-default:hover,
.snap .btn-default.disabled:focus,
.snap .btn-default[disabled]:focus,
.snap fieldset[disabled] .btn-default:focus,
.snap .btn-default.disabled.focus,
.snap .btn-default[disabled].focus,
.snap fieldset[disabled].btn-default.focus,
.snap .btn-default.disabled:active,
.snap .btn-default[disabled]:active,
.snap fieldset[disabled] .btn-default:active,
.snap .btn-default.disabled.active,
.snap .btn-default[disabled].active,
.snap fieldset[disabled] .btn-default.active {
    background-color: #7d7d7d;
    border-color: #dbdbdb;
}

.snap .btn-default {
    color: #333333;
    background-color: #f1f2f6;
    border-color: #7d7d7d;
}

.snap .btn-default:hover {
    color: #333333;
    background-color: #ffffff;
    border-color: #dbdbdb;
}


/* btn-group btn-default */

.snap .btn-group .btn:not(:first-child) {
    border-left: none !important;
}

.snap .btn-group .btn-default.disabled,
.snap .btn-group .btn-default[disabled],
.snap .btn-group .btn-default.disabled:hover,
.snap .btn-group .btn-default[disabled]:hover,
.snap .btn-group .btn-default.disabled:focus,
.snap .btn-group .btn-default[disabled]:focus,
.snap .btn-group .btn-default.disabled.focus,
.snap .btn-group .btn-default[disabled].focus,
.snap .btn-group .btn-default.disabled:active,
.snap .btn-group .btn-default[disabled]:active,
.snap .btn-group .btn-default.disabled.active,
.snap .btn-group .btn-default[disabled].active {
    background-color: #dbdbdb;
    color: #7d7d7d;
}

.snap .btn-group .btn-default {
    background-color: #f1f2f6;
    color: #333333;
}

.snap .btn-group .btn-default:hover {
    background-color: #ffffff;
    border: 1px solid #7d7d7d;
}

.snap .btn-group .btn-default:active,
.snap .btn-group .btn-default.active {
    color: #ffffff;
    background-color: #009f65;
}

/* btn:active */

.snap .btn:active,
.snap .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
/* end of btn:active */

/* end of buttons */


/* focus */

.snap a:focus,
.snap .btn,
.snap .btn:focus {
    outline: none;
}

/* end of focus */


/* st-table */

.snap .pagination {
    display: inline-block;
    padding-left: 0;
    margin: 0 0;
    border-radius: 4px;
}

.snap .pagination > li > a,
.snap .pagination > li > span {
    position: relative;
    float: left;
    padding: 5px 20px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #333333;
    text-decoration: none;
    background-color: #f1f2f6;
    border: 1px solid #7d7d7d;
}

.snap .pagination > .active > a,
.snap .pagination > .active > span,
.snap .pagination > .active > a:hover,
.snap .pagination > .active > span:hover,
.snap .pagination > .active > a:focus,
.snap .pagination > .active > span:focus {
    z-index: 2;
    color: #fff;
    cursor: default;
    background-color: #009f65;
    border-color: #009f65;
}

/* end of st-table */


/* panels */

.snap .panel-default {
    border: none;
    box-shadow: none;
}

.snap .panel-default .panel-heading {
    background: url("../img/logo-sungard.svg") no-repeat;
    background-position: 15px center;
    background-color: #666666;
    background-size: 24px 24px;
    color: white;
    padding-left: 45px;
}

.snap .panel-title {
    font-weight: bolder;
}

/* panels */


/* modals */

.snap .modal-header .modal-title {
    font-size: 20px;
}

.snap .modal-header .modal-title .glyphicon{
    font-size: 24px ;
    padding-right: 6px;
}

.snap .modal-header {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
}
/* end of modals */


/* forms */

.snap .form-horizontal .control-label {
    font-weight: 500;
}

.snap .form-control:focus {
    outline: none !important;
    border-color: #666666;
    box-shadow: 0 0 0 #7d7d7d;
}

.snap .panel-heading .glyphicon {
    font-size: 24px;
    padding-right: 6px;
}

.snap .form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}

.snap .form-group.form-buttons{
    position: relative;
    min-height: 1px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
    text-align: right;
    margin-bottom: 0;
}

.snap .form-horizontal .form-group.error-notification {
    margin-bottom: 0;
    position: relative;
    top: -10px;
    font-size: smaller;
}

.snap input.form-control.ng-dirty.ng-invalid {
    border: 1px solid #cc2130 !important;
    border-radius: 4px;
}

/* end of forms*/

/* page specific stylings*/
.configuration .sdfsVolume .form-control,
.configuration .cluster .form-control {
    width: 35% !important;
    display: inline;
    margin-top: 5px;
}

.configuration .bucket .btn-group,
.configuration .bucket button,
.configuration .bucket .form-control {
    width: 400px;
}

.configuration .bucket button .caption {
    max-width: 360px;
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
}

.configuration .bucket .form-control {
    display: inline-block;
}

.configuration .bucket .glyphicon {
    margin: 0 10px;
}

.settings.form-control {
    width: 100%;
    display: inline-block;
}

.settings.field-label {
    padding-top: 7px;
    padding-left: 0;
}

.settings.bucket-name {
    width: 25%;
    padding: 6px 12px;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.logs .grid {
    max-height: 700px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.logs .grid .auto-scroll-button {
    position: absolute;
    margin: 5px;
    right: 20px;
}

.logs .grid .even {
    background: #eeeeee;
}

/* end of view-specific styling*/
/* end of Color scheme */

/* Settings */
.settings-sub-menu {
    color: #263f66;
}
.settings-sub-menu li {
    font-weight: bold;
    color: #263f66;
}
.settings-sub-menu li.active > a,
.settings-sub-menu li.active > a:hover,
.settings-sub-menu li.active > a:focus {
    background-color: lightgrey;
    color: #263f66;
}
.table-header-placeholder.settings-sub-menu {
    height: auto;
}


/*restore table*/

.restore-table td, .restore-table th {
    width: 30%;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
}