<nav class="navbar navbar-fixed-top">
    <div class="header-top">
        <div class="container">
            <div>
                <ul class="nav nav-pills navbar-right clear-right">
                    <li ui-sref-active="active"><a ui-sref="app.volume.list"><span>Volumes</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="app.tasks"><span>Tasks</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="app.users"><span>Users</span></a></li>
                    <li ui-sref-active="active"><a ui-sref="app.settings"><span>Settings</span></a></li>
                    <li ui-sref-active="active" ng-if="$root.isAdmin"><a ui-sref="app.logs"><span>Logs</span></a></li>
                </ul>
            </div>
            <a class="navbar-brand" ui-sref="app.volume.list">Sungard Availability Services <span class="separator"></span> Enhanced Snapshots</a>
        </div>
    </div>
</nav>


<div ui-view></div>

<div class="loading" ng-show="$root.isLoading">
    <div class="text-center spinner-container">
        <span class="glyphicon glyphicon-refresh text-muted spin"></span>
    </div>
</div>