<div class="container" ng-hide="$root.isLoading">
    <div class="row centered-form">
        <div class="col-xs-12 col-sm-8 col-md-5 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h2 class="panel-title">Login</h2>
                </div>
                <div class="panel-body">

                    <form ng-submit="login()" name="userLogin" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Email</label>
                            <div class="col-sm-7">
                                <input type="email" name="loginEmail" class="form-control" ng-model="email"
                                       placeholder="email" required autofocus>
                            </div>
                        </div>

                        <div class="form-group error-notification" ng-show="userLogin.loginEmail.$error.email">
                            <div class="col-sm-9 col-sm-offset-3">
                                <span class="text-danger">Please, enter valid Email</span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">Password</label>

                            <div class="col-sm-7">
                                <input type="password" name="password" class="form-control" ng-model="password"
                                       placeholder="password" required>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-6 col-sm-offset-3">
                                <button type="submit" class="btn btn-success btn-block " ng-click="clearErr()">Log in
                                </button>
                            </div>
                        </div>

                        <div class="form-group text-danger" ng-show="error">
                            <div class="col-sm-9 col-sm-offset-3">
                                <strong>{{error}}</strong>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="loading" ng-show="$root.isLoading">
    <div class="text-center spinner-container">
        <span class="glyphicon glyphicon-refresh text-muted spin"></span>
    </div>
</div>
