<div ng-show="selectedBackups.length">
    <div class="modal-header bg-danger">
        <h3 class="modal-title"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; Backup</h3>
    </div>
    <div class="modal-body">
        <p>You are going to delete backup: </p>

        <blockquote >
            <p ng-show="selectedBackups.length<=maxDeleteBackupDisplay">
                <div ng-show="selectedBackups.length<=maxDeleteBackupDisplay" class="h4 text-primary" ng-repeat="backup in selectedBackups">{{backup.fileName}}</div>
            </p>
            <p ng-hide="selectedBackups.length<=maxDeleteBackupDisplay">{{selectedBackups.length}} selected backups</p>
        </blockquote>
        <p>Be careful, process can not be reverted!</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-danger" ng-click="$close()"><span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
        </button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</div>