<div class="modal-header" ng-class="{'bg-success': scheduleToEdit.isNew, 'bg-primary': !scheduleToEdit.isNew}">
    <h3 class="modal-title"><span class="glyphicon glyphicon-time" aria-hidden="true"> </span> {{scheduleToEdit.isNew? "New Schedule" : "Edit Schedule" }}</h3>
</div>
<div class="modal-body">

    <form name="schedule">

        <table class="table backup-table">
            <tr>
                <th>Volume</th>
                <th>
                    Consistent
                    <a class="link-white"
                       href="https://github.com/SungardAS/enhanced-snapshots/blob/master/README.md#key-features"
                       target="_blank" title="What is SDFS">
                        <span class="glyphicon glyphicon-question-sign text-primary"></span>
                    </a>
                </th>
            </tr>

            <tr>
                <td>{{volumeId}}</td>
                <td>
                    <div ng-show="!isDisabled&&instanceID">
                        <span class="chb"
                              ng-click="isConsistant()"
                              ng-class="{'checked': consistentBackup}">
                        </span>
                    </div>
                    <div ng-show="isDisabled&&instanceID">
                        Not supported
                    </div>
                    <div ng-show="!isDisabled&&!instanceID">
                        Supported by default
                    </div>
                </td>
            </tr>
        </table>

        <div class="form-group">
            <label for="name" class="control-label">Name:</label>
            <input type="text"
                   id="name"
                   placeholder="Enter schedule name"
                   class="form-control"
                   ng-model="scheduleToEdit.name"
                   required>
        </div>

        <!-- cron-->
        <div class="form-group">
            <label>Schedule:</label>
            <jq-cron class="form-control" ng-model="scheduleToEdit.cron"></jq-cron>
            Cron: <code>"{{scheduleToEdit.cron}}"</code>
        </div>
        <!-- cron end-->

        <!-- enabled-->
        <div class="form-group">
            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="scheduleToEdit.enabled"/> Enabled
                </label>
            </div>
        </div>
        <!-- enabled end-->
    </form>


    <div class="modal-footer">
        <button class="btn"
                ng-click="$close()"
                ng-class="{'btn-success': scheduleToEdit.isNew, 'btn-primary': !scheduleToEdit.isNew}"
                ng-disabled="schedule.$invalid">
            {{scheduleToEdit.isNew ? "Add Schedule" : "Save Schedule" }}
        </button>
        <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
    </div>
</div>