<div class="modal-header bg-{{action.bgClass}}">
    <h3 class="modal-title"><span class="glyphicon glyphicon-{{action.iconClass}}"></span>&nbsp; {{action.modalTitle}}
    </h3>
</div>
<div class="modal-body">
    <form name="actionForm">
        <p>You are going to {{action.description}} for: </p>

        <div ng-if="actionType === 'backup'">
            <div class="loading" ng-show="$root.isLoading">
                <div class="text-center spinner-container">
                    <span class="glyphicon glyphicon-refresh text-muted spin"></span>
                </div>
            </div>
            <span>Volume's last backup will be used</span>
            <table class="table backup-table">
                <tr>
                    <th>Volume</th>
                    <th>
                        Consistent
                        <a class="link-white"
                           href="https://github.com/SungardAS/enhanced-snapshots/blob/master/README.md#key-features"
                           target="_blank" title="What is SDFS">
                        <span
                                class="glyphicon glyphicon-question-sign text-primary">

                        </span>
                        </a>
                    </th>
                </tr>

                <tr ng-repeat="volume in selectedVolumes track by $index">
                    <td>{{volume.volumeId}}</td>
                    <td>
                        <div ng-show="!volume.isDisabled&&volume.instanceID">
                        <span class="chb"
                              ng-click="isConsistant(volume)"
                              ng-class="{'checked': volume.consistentBackup}">
                        </span>
                        </div>
                        <div ng-show="volume.isDisabled&&volume.instanceID">
                            Not supported
                        </div>
                        <div ng-show="!volume.isDisabled&&!volume.instanceID">
                            Supported by default
                        </div>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-if="actionType === 'restore'">
            <span>Volume's last backup will be used</span>
            <table class="table restore-table">
                <tr>
                    <th>Volume</th>
                    <th>Action</th>
                    <th>Value</th>
                </tr>

                <tr ng-repeat="volume in selectedVolumes track by $index">
                    <td>{{volume.volumeId}}</td>
                    <td>
                    <span dropdown>
                        <a href dropdown-toggle>{{volume.restoreAction ? volume.restoreAction :restoreActions[0]}}</a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="action in restoreActions">
                                <a href ng-click="volume.restoreAction = action;">{{action}}</a>
                            </li>
                        </ul>
                    </span>
                    </td>
                    <td>
                    <span dropdown ng-show="volume.restoreAction!=restoreActions[1]">
                        <a href dropdown-toggle>{{volume.zone ? volume.zone : selectedZone || "current"}}</a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="zone in zones">
                                <a href ng-click="volume.zone = zone;">{{zone}}</a>
                            </li>
                        </ul>
                    </span>
                    <span dropdown ng-show="volume.restoreAction==restoreActions[1]">
                        <a href dropdown-toggle>{{volume.instanceId ? volume.instanceId : instance}}</a>
                        <ul class="dropdown-menu">
                            <li ng-repeat="instance in instances">
                                <a href ng-click="volume.instanceId = instance;">{{instance}}</a>
                            </li>
                        </ul>
                    </span>
                    </td>
                </tr>
            </table>
        </div>

        <div ng-show="action.type == 'schedule'">
            <table class="table backup-table">
                <tr>
                    <th>Volume</th>
                    <th>
                        Consistent
                        <a class="link-white"
                           href="https://github.com/SungardAS/enhanced-snapshots/blob/master/README.md#key-features"
                           target="_blank" title="What is SDFS">
                            <span class="glyphicon glyphicon-question-sign text-primary"></span>
                        </a>
                    </th>
                </tr>

                <tr ng-repeat="volume in selectedVolumes track by $index">
                    <td>{{volume.volumeId}}</td>
                    <td>
                        <div ng-show="!volume.isDisabled&&volume.instanceID">
                        <span class="chb"
                              ng-click="isConsistant(volume)"
                              ng-class="{'checked': volume.consistentBackup}">
                        </span>
                        </div>
                        <div ng-show="volume.isDisabled&&volume.instanceID">
                            Not supported
                        </div>
                        <div ng-show="!volume.isDisabled&&!volume.instanceID">
                            Supported by default
                        </div>
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <label for="name" required class="control-label">Name:</label>
                <input type="text" id="name" class="form-control" ng-model="schedule.name">
            </div>

            <!-- cron-->
            <div class="form-group">
                <label>Schedule </label> &nbsp;<span>(in timezone of amazon instance)</span><strong>:</strong>
                <jq-cron class="form-control" ng-model="schedule.cron"></jq-cron>
                Cron: <code>"{{schedule.cron}}"</code>
            </div>

            <!-- cron end-->

            <!-- enabled-->
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="schedule.enabled"/> Enabled
                    </label>
                </div>
            </div>
            <!-- enabled end-->
        </div>

        <p> Do you want to {{action.description}} now?</p>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-{{action.bgClass}}"
            ng-click="$close()"
            ng-disabled="actionForm.$invalid">
        <span class="glyphicon glyphicon-{{action.iconClass}}">
        </span>&nbsp; {{action.buttonText}}
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>