<div class="modal-header bg-danger">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cog"></span>&nbsp; System Backup</h3>
</div>

<div class="modal-body">

    <div ng-show="state === 'ask'">
        <h3>Would you like to backup a system now?</h3>
    </div>

    <div ng-show="state === 'done'">
        <h3>Your System Backup done successfully!</h3>
    </div>

    <div ng-show="state === 'failed'">
        <h3>Sorry, system is not responding. Please, try again later.</h3>
    </div>

    <div class="text-right">
        <button class="btn btn-success" ng-show="state === 'ask'" ng-click="sendTask()">Ok</button>
        <button class="btn btn-default" ng-hide="state === 'ask'" ng-click="$close()"><span
                class="glyphicon glyphicon-ok"></span>&nbsp; Done
        </button>
        <button class="btn btn-default" ng-show="state === 'ask'" ng-click="$dismiss()">Close</button>
    </div>
</div>
