<div class="modal-header bg-success">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cloud-{{iconClass[actionType]}}"></span>&nbsp; {{modalTitle[actionType]}}</h3>
</div>
<div class="modal-body">
    <p>Your {{actionType}} task{{selectedVolumes.length>1? "s" : ""}} is created successfully!</p>
</div>
<div class="modal-footer">
    <a class="btn btn-success" ng-click="$close()"><span class="glyphicon glyphicon-tasks"></span>&nbsp; Go to Tasks</a>
    <a class="btn btn-default" ng-click="$dismiss()"><span class="glyphicon glyphicon-list"></span>&nbsp; Stay on {{objectToProcess.fileName ? "History" : "Volumes"}}</a>
</div>