<div class="modal-header bg-success">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cloud-download"></span>&nbsp; Backup</h3>
</div>
<div class="modal-body">
    <p ng-show="!deleteErrors || deleteErrors.length == 0">Backup removed successfully!</p>

    <p ng-show="deleteErrors && deleteErrors.length == selectedBackups.length"> Failed to remove backup! </p>
    <div ng-show="deleteErrors && deleteErrors.length > 0 && deleteErrors.length < selectedBackups.length">
        <p>Failed to remove some of selected backups.
            <blockquote>
                <p>Backup successfully removed {{selectedBackups.length - deleteErrors.length}}</p>
                <p>Failed to remove backup {{deleteErrors.length}}</p>
            </blockquote>
        </p>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-default" ng-click="$dismiss()"><span></span> Ok </a>
</div>

