<div class="modal-header bg-warning">
    <h3 class="modal-title"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Restore backup</h3>
</div>
<div class="modal-body">
    <p>You are going to start a restore process for: </p>
    <blockquote>
        <p>Backup: <span class="h4 text-warning">{{objectToProcess.fileName}}</span></p>
    </blockquote>
    <table class="table restore-table">
        <tr>
            <th>Volume</th>
            <th>Action</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>{{objectToProcess.volumeId}}</td>
            <td>
                <span dropdown>
                    <a href dropdown-toggle>{{restoreAction}}</a>
                    <ul class="dropdown-menu" >
                        <li ng-repeat="action in restoreActions">
                            <a href ng-click="selectAction(action)">{{action}}</a>
                        </li>
                    </ul>
                </span>
            </td>
            <td>
                <span dropdown ng-show="restoreAction==restoreActions[0]">
                    <a href dropdown-toggle>{{selectedZone || "current"}}</a>
                    <ul class="dropdown-menu" >
                        <li ng-repeat="zone in zones">
                            <a href ng-click="selectZone(zone)">{{zone}}</a>
                        </li>
                    </ul>
                </span>

                <span dropdown ng-show="restoreAction==restoreActions[1]">
                    <a href dropdown-toggle>{{instance}}</a>
                    <ul class="dropdown-menu" >
                        <li ng-repeat="instance in instances">
                            <a href ng-click="selectInstance(instance)">{{instance}}</a>
                        </li>
                    </ul>
                </span>
            </td>
        </tr>
    </table>

    <p> Do you want to start it now?</p>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" ng-click="$close()"><span class="glyphicon glyphicon-cloud-upload"></span>&nbsp; Add
        Restore Task
    </button>
    <button class="btn btn-default" ng-click="$dismiss()">Cancel</button>
</div>