<div class="header-page">
    <div class="container">
        <div class="sub-nav pull-right">
            <div class="user">
                <a ui-sref="logout" title="logout">{{getUserName()}}&nbsp;<span
                        class="glyphicon glyphicon-off text-danger"></span></a>
            </div>
            <div class="page-btns">
            </div>
        </div>
        <div class="page-name">
            <div class="go-back"><a ui-sref="app.volume.list">&lt;&nbsp;Back to Volumes</a></div>
            <div class="current">Schedule for {{volumeId}}</div>
        </div>
    </div>
</div>
<div class="table-header-placeholder"></div>

<div class="container app">
    <div class="row">
        <div st-table="displayedSchedules" st-safe-src="schedules">
            <div class="page-table">
                <div class="thead container">
                    <div class="flex-container row">
                        <div class="flex-3 flex-center th"><span st-sort="schedulerName">Name</span></div>
                        <div class="flex-1 flex-center th"><span st-sort="cron">Cron</span></div>
                        <div class="flex-1 flex-center th"><span st-sort="enabled">Status</span></div>
                    </div>
                </div>

                <div class="tr schedule-{{schedule.enabled == 'true' ? 'enabled' : 'disabled'}}" ng-repeat="schedule in displayedSchedules track by $index"
                     ng-class="{'row-disabled': !scedule.enabled}">
                    <div class="row-hover">
                        <div class="flex-container data-container">

                            <div class="flex-1 flex-center row-menu">
                                <a href="" title="Edit" ng-click="edit(schedule)">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                    &nbsp; Edit
                                </a>
                            </div>

                            <div class="flex-1 flex-center row-menu">
                                <a href="" title="Remove" ng-click="remove(schedule)">
                                    <span class="glyphicon glyphicon-remove"></span>
                                    &nbsp; Delete
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="flex-container data-container">
                        <div class="flex-3 flex-center">{{schedule.schedulerName}}</div>
                        <div class="flex-1 flex-center">{{schedule.cron}}</div>
                        <div class="flex-1 flex-center">{{schedule.enabled == 'true' ? 'enabled' : 'disabled'}}</div>
                    </div>
                </div>
            </div>

            <div>
                <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
            </div>
        </div>

        <div class="text-center noitems-container" ng-hide="isLoading || displayedSchedules.length">
            <h2>No schedules to display...</h2>
        </div>

        <button class="btn btn-success pull-right" ng-click="add()"><span class="glyphicon glyphicon-plus-sign"></span> New
            Schedule
        </button>
    </div>


</div>
