<div class="header-page">
    <div class="container">
        <div class="sub-nav pull-right">
            <div class="user">
                <a ui-sref="logout" title="logout">{{getUserName()}}&nbsp;<span
                        class="glyphicon glyphicon-off text-danger"></span></a>
            </div>
            <div class="page-btns">
            </div>
        </div>
        <div class="page-name">
            <div class="go-back">&nbsp;</div>
            <div class="current">&nbsp;</div>
        </div>
    </div>
</div>
<div class="table-header-placeholder settings-sub-menu">


        <div class="container">
            <div>
                <ul class="nav nav-pills navbar-left clear-right">
                    <li ui-sref-active="active">
                        <a ui-sref="app.settings.systemInfo">
                            <span>System information</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.settings.system">
                            <span>System settings</span>
                        </a>
                    </li>
                    <li ui-sref-active="active" ng-show="isAdmin===true">
                        <a ui-sref="app.settings.snsNotification">
                            <span>SNS notifications</span>
                        </a>
                    </li>
                    <li ui-sref-active="active">
                        <a ui-sref="app.settings.emailNotification">
                            <span>Email notifications</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
</div>

<div class="container app" ng-show="progressState !== 'loading'">

    <div ui-view></div>

</div>