<div class="header-page">
    <div class="container">
        <div class="sub-nav pull-right">
            <div class="user">
                <a ui-sref="logout" title="logout">{{getUserName()}}&nbsp;<span
                        class="glyphicon glyphicon-off text-danger"></span></a>
            </div>
            <div class="page-btns">
            </div>
        </div>
        <div class="page-name">
            <div class="go-back">&nbsp;</div>
            <div class="current">Users</div>
        </div>
    </div>
</div>
<div class="table-header-placeholder"></div>

<div class="container app">
    <div class="row">
        <div st-table="displayedUsers" st-safe-src="users">
            <div class="page-table">
                <div class="thead container">
                    <div class="flex-container row">
                        <div class="flex-3 flex-center th"><span st-sort="email">Email</span></div>
                        <div class="flex-2 flex-center th"><span st-sort="firstName">First Name</span></div>
                        <div class="flex-2 flex-center th"><span st-sort="lastName">Last Name</span></div>
                        <div class="flex-1 flex-center th"><span st-sort="admin">Role</span></div>
                    </div>
                </div>


                <div class="tr" ng-repeat="user in displayedUsers">
                        <div class="row-hover" ng-show="isAdmin || (isCurrentUser(user.email) && !ssoMode)">
                            <div class="flex-container data-container">
                                <div class="flex-1 flex-center row-menu">
                                    <a href="" title="Edit user" ng-click="editUser(user)"
                                            ng-show="isAdmin || isCurrentUser(user.email)"><span
                                            class="glyphicon glyphicon-pencil icon"></span>&nbsp; Edit</a>
                                </div>
                                <div class="flex-1 flex-center row-menu" ng-show="isAdmin && !isCurrentUser(user.email) && !ssoMode">
                                    <a href="" title="Delete user" ng-click="deleteUser(user)"><span
                                            class="glyphicon glyphicon-remove icon"
                                            ng-disabled="isCurrentUser(user.email)"></span>&nbsp; Delete</a>
                                </div>
                            </div>
                        </div>

                    <div class="flex-container data-container">
                        <div class="flex-3 flex-center">{{::user.email | lowercase}}</div>
                        <div class="flex-2 flex-center">{{::user.firstName}}</div>
                        <div class="flex-2 flex-center">{{::user.lastName}}</div>
                        <div class="flex-1 flex-center">{{::user.admin? 'Admin' : 'User'}}</div>
                    </div>
                </div>
            </div>

            <div>
                <div st-pagination st-items-by-page="itemsByPage" st-displayed-pages="displayedPages"></div>
            </div>
        </div>

        <div class="text-center noitems-container" ng-hide="isLoading || displayedUsers.length">
            <h2>No users to display...</h2>
        </div>

        <div class="pull-right" ng-show="isAdmin && !ssoMode">
            <button type="button" class="btn btn-success" ng-click="addUser()">
                <span class="glyphicon glyphicon-plus-sign" title="Add new user"></span> Add User
            </button>
        </div>

    </div>
</div>


